.blue__cards {
  padding-top: 45px ;
  display: flex;
  margin: 30px;
  gap: 25px;
}

.blue__card {
  position: relative;
}


.left__side--card {
  position: relative;
  top: 73px;
}

.blue__card > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -224px;
  left: -6px;
  color: #fff;
  font-size: 19px;
  font-weight: 700;
}

.blue__card > p > b {
  font-size: 35px;
}

@media only screen and (max-width: 450px) { 
   .blue__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
   }

   .blue__card > img {
    width: 171px;
    height: 227px;
   }

   .left__side--card {
    position: relative;
    top: 69px;
    left: 16px;
  }

  .blue__card > p {
    font-size: 17px;
    padding: 8px;
    text-align: center;
  }


  /* .right__side--card {
    position: relative;
  } */

  /* .blue-card--mv {
    display: none;
  }


  .red-card--mv {
    display: ;
  } */
  
}