.cutomer__business {
  display: flex;
  gap: 37px;
}

.wrap__partner--section {
   position: relative;
   top: -1129px;
   left: 64px;
}

.wrap__partner--section > h3 {
  padding: 72px;
  padding-left: 60px;
  font-size: 30px;
  color: #111619;
  font-weight: 600;
  width: 593px;
}

.wrap__partner--section > h4 {
  padding: 40px;
  padding-left: 9px;
  font-size: 32px;
  color: #232525;
  font-weight: 700;
  width: 590px;
  padding-top: 80px;
}


.business {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  height: 194px;
}

.customer {
  display: flex;
  flex-direction: column;
  height: 194px;
  gap: 10px;
}

.partner__btn {
  color: #fff;
  background-color: #e30613;
  border: none;
 border-radius: 4px;
 width: 250px;
 height: 36px;
 font-size: 17px;
 font-weight: 700;
}

.partners__tracks--last {
  top: 90px;
  position: relative;
  left: -439px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.fivth__heading {
  font-size: 30px;
  color: #232525;
  font-weight: 700;
}

.icon--arrow__partner {
  color: #A5A5A5;
  width: 16px;
}

.business > h5, .customer > h5 {
  color: #8B5467;
}

.business > p {
  color: #475467;
  font-weight: 500;
  font-size: 13px;
  width: 230px;
  line-height: 1.5;
}

.customer > p {
  color: #475467;
  font-weight: 500;
  font-size: 13px;
  width: 300px;
  line-height: 1.6;
}

.p3 {
  display: flex;
  align-items: center;
  width: 120px;
  margin-top: 10px;
}

.business > p > a {
  color: #A5A5A5;
  text-decoration: none;
}


.customer > p > a {
  color: #A5A5A5;
  text-decoration: none;
}

.partner-tracks--mv {
  display: none;
}

@media only screen and (max-width: 450px) { 
  .wrap__partner--section > h3 {
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 122px;
    font-size: 21px;
  }

  .cutomer__business {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .business {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 95px;
  }

  .business > p {
    width: 322px;
    text-align: center;
    font-size: 17px;
}

.customer > p {
  width: 322px;
  text-align: center;
  font-size: 17px;
}

  .customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 95px;
  }
  
  .p3 {
    margin-left: 220px;
  }

  .wrap__partner--section > h4 {
    padding-left: 94px;
    font-size: 24px;
    text-align: center;
    width: 461px;
    padding-top: 20px;
}

.partner-tracks--dt {
  display: none;
}

.partner-tracks--mv {
  display: flex;
  position: relative;
    left: 485px;
    width: 410px;
    height: 98px;
    top: 70px;
}

.fivth__heading {
  position: relative;
    left: 474px;
    font-size: 24px;
    top: 120px;
}

.partner__btn {
  position: relative;
  left: 474px;
  top: 123px;
}

}