.partners__logo {
  display: flex;
  flex-wrap: wrap;
  gap: 41px;
  position: relative;
  left: -223px;
  width: 954px;
  justify-content: center;
}

@media only screen and (max-width: 450px) { 
.partners__logo {
  width: 375px;
  position: relative;
  left: 61px;
  gap: 19px;
}
}