.background__partner {
  position: relative;
  height: 1100px;
  top: -177px;
  left: 385px;
}


@media only screen and (max-width: 450px) { 
  .background__partner {
    position: relative;
    top: 134px;
    left: -104px;
    height: 900px;
    margin-bottom: 652px;
  }
  
}