.third__heading {
  color: #667085;
  font-size: 15px;
  font-weight: 600;
}

.no-shipments--div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
  background-color: #fef3f2;
  width: 609px;
  height: 80px;
  padding: 16px;
  margin-top: 70px;
}

.no-shipments--div > p {
  color: #111619;
  font-size: 15px;
}

.shipments__info {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tracking__heading {
  color: #111619;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 40px;
}

.lines {
  width: 643px;
  height: 22px;
  display: flex;
  gap: 2px;
}

.line {
  background-color: #0098a5;
  width: 208px;
  height: 6px;
}

.line3 {
  width: 208px;
  height: 6px;
  background-color: #d9f4f8;
}

.tracking-para {
  color: #111619;
  margin-top: 24px;
  font-size: 16px;
  display: flex;
  gap: 15px;
}

.tracking-time {
  color: #667085;
}

.tracking__num {
  color: #667085;
  font-size: 14px;
}

.form {
  display: flex;
}

@media only screen and (max-width: 591px) { 
     
    .no-shipments--div {
      width: 392px;
      height: 138px;
    }
    
    .tracking-para {
    font-size: 14px;
    font-weight: 700;
    width: 271px;
    display: flex;
    gap: 2px;
    flex-direction: column;
    }

    .tracking-para > p {
      text-align: center;
    }

    .lines {
      width: 405px;
    }
  
    }
  