.sucsess {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 210px;
  padding-bottom: 0;
  padding-left: 292px;
}

.sucsess > h2 {
  color: #262626;
  font-size: 30px;
  font-weight: 600;
}


@media only screen and (max-width: 591px) { 
  .sucsess > h2 {
    font-size: 28px;
    font-weight: 700;
    width: 296px;
    text-align: center;
    margin-right: 9px;
  }

  .sucsess {
    padding-left: 211px;
  }
  }
